
:root {
  --main-color: #b2a380;
  --main-color-light: #ece8df;
  --background: #FFF;
  --accent-color: #000;
  --accent-color2: gold;
}

* {
  text-decoration: none;
  list-style: none;
}

html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* menu */

#menu-button,  #menu-button-overlay{
  border-radius: 50%;
  height: 75px;
  width: 75px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
}
#menu-button {
  background: var(--main-color);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#menu-button-overlay {
  z-index: 100;
  cursor: pointer;
}
.menu-icon-title {
  color: var(--background);
  font-size: 12.5px;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  transform: rotate(-90deg);
  position: fixed;
  right: 40px;
  top: 38px;
}

.menu-icon-back {
  position: fixed;
  right: 20px;
  top: 24px;
  border-radius: 4px;
  border-top: 3px solid var(--accent-color2);
  border-right: 3px solid var(--accent-color2);
  border-bottom: 3px solid var(--accent-color2);
  line-height: 1;
  background: var(--background);
  font-size: 10px;
  height: 40px;
  width: 25px;
}
.menu-icon-front-cover-front {
  position: fixed;
  right: 20px;
  top: 24px;
  line-height: 1;
  color: var(--background);
  border-top: 3px solid var(--accent-color2);
  border-right: 3px solid var(--accent-color2);
  border-bottom: 3px solid var(--accent-color2);
  background: var(--accent-color2);
  font-size: 10px;
  height: 40px;
  width: 25px;
  border-radius: 4px;
  backface-visibility: hidden;
  z-index: 2;
  transform: rotateY(180deg);
}
.menu-icon-front-cover-back {
  position: fixed;
  right: 20px;
  top: 24px;
  line-height: 1;
  border-radius: 4px;
  border-top: 3px solid var(--accent-color2);
  border-left: 3px solid var(--accent-color2);
  border-bottom: 3px solid var(--accent-color2);
  background: var(--background);
  font-size: 10px;
  height: 40px;
  width: 25px;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}
.menu-icon-book-open-container {
  position: fixed;
  top: 25px;
  right: 48px;
  height: 40px;
  width: 25px;
}
.menu-icon-book-open {
  position: fixed;
  top: 0;
  right: 26px;
  perspective: 1000px;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.book-closed {
  transform: rotateY(180deg);
  right: 68px;
}

.menu-ul {
  z-index: 10;
  position: fixed;
  top: 58px;
  right: 25px;
  width: 33vw;
  background: var(--main-color);
  padding: 1% 1% 1%;
  border-radius: 2px;
  overflow:hidden;
  height:auto;
  max-height:600px;
  transition:max-height 0.3s ease,padding 0.3s ease;

}
.menu-li {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 2px;
  overflow:hidden;
  height:auto;
  max-height:600px;
  transition:max-height 0.3s ease;
  border-bottom: 1px solid var(--accent-color2)
}
.menu-li:hover {
  font-weight: bold;
}
.menu-a {
  color: var(--background);
  font-size: 2.5vw;
}
.menu-closed {
  max-height:0;
  padding: 0;
  transition: all 0.3s ease;
}

/* main page */
.book-description-container {
  display: none;
  position: fixed;
  top: 10vh;
  width: 100%;
  height: 85vh;
  justify-content: center;
  z-index: 10;
}
.book-description {
  width: 85vw;
  background: var(--main-color-light);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
}
.book-description-text {
  padding: 4%;
  overflow: auto;
  overflow-y: scroll;
    height: 75vh;
}
.book-description-close {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  background: var(--main-color);
  height: 35px;
  width: 35px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 95%;

}
.list-books-title {
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--accent-color);
  text-align: center;
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 6;
  top: 0;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: var(--main-color);
}

.list-books-content {
  margin: 80px 6% 0 6%;
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid var(--main-color);
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--main-color);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */
.message-container {
  position: fixed;
  z-index: 10;
  top: 120px;
  width: 100%;
  justify-content: center;
  display: none;
}
#updateMessage {
  width: 50%;
  text-align: center;
  color: var(--background);
  background: var(--main-color);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 65px;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: var(--main-color);
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  color: var(--accent-color);
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: var(--background);
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.result-info {
  position:relative;
  width: 100%;
  height: 25px;
  top: 135px;
  left: 15px;
  color: var(--main-color);
}

.search-books-results {
  margin-top: 65px;
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-rating {
  padding-right: 15px;
  text-align: center;
  font-size: 1.2em;
  color: var(--accent-color2);
}
.half {
  color: var(--accent-color);
}
.nER {
  color: var(--main-color);
  font-size: 0.6em;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: var(--main-color);
  width: 100%;
}
.book-authors li {
  width: 100%;
  padding: 0;
}
.authors-list {
    padding: 0;
}
.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--main-color);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: var(--background);
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

